@page "/ugyfel/update/{id:guid}"
@using Autoszerelo.UI.Services.Interfaces
@using Autoszerelo.DataClasses
@inject IUgyfelService PersonService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Ugyfel</PageTitle>

@if (Costumer == null)
{
    <p>Az ugyfel nem modosithato.</p>
}
else
{
    <h3 class="text-center my-2">Ugyfel modositasa</h3>
    <EditForm Model="Costumer" OnValidSubmit="() => UpdateCostumer()">
        <DataAnnotationsValidator />
        <div class="form-group mb-3">
            <label class="form-label">Nev</label>
            <InputText @bind-Value="@Costumer.Nev" class="form-control" />
            <ValidationMessage For="() => Costumer.Nev" />
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Email</label>
            <InputText @bind-Value="@Costumer.Email" class="form-control" />
            <ValidationMessage For="() => Costumer.Email" />
        </div>
        <div class="form-group mb-3">
            <label class="form-label">Lakcim</label>
            <InputText @bind-Value="@Costumer.Lakcim" class="form-control" />
            <ValidationMessage For="() => Costumer.Lakcim" />
        </div>

        <button class="btn btn-primary mb-3" type="submit">Adatok modositasa</button>
    </EditForm>
}

@code {
    [Parameter]
    public Guid id { get; set; }
    private Ugyfel Costumer { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Costumer = await PersonService.GetAsync(id);
    }

    private async Task UpdateCostumer()
    {
        await PersonService.UpdateAsync(Costumer);
        await JsRuntime.InvokeVoidAsync("alert", "Az ugyfel adatai sikeresen frissitesre kerultek!");
        NavigationManager.NavigateTo("/ugyfelek");
    }
}