@page "/ugyfel/add"
@using Autoszerelo.UI.Services.Interfaces
@using Autoszerelo.DataClasses
@inject IUgyfelService PersonService

<h3>PersonAdd</h3>
<EditForm Model="Person" OnValidSubmit="() => AddPersonAsync()">
    <DataAnnotationsValidator />
<div class="mb-3">
    <label class="form-label">Name</label>
    <InputText @bind-Value="@Person.Nev" class="form-input" />
    <ValidationMessage For="() => Person.Nev" />
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <InputText @bind-Value="@Person.Email" class="form-input" />
    <ValidationMessage For="() => Person.Email" />
</div>
<div class="mb-3">
    <label class="form-label">Birth Date</label>
    <InputDate @bind-Value="@Person.Lakcim" class="form-input" />
    <ValidationMessage For="() => Person.Lakcim" />
</div>

<button class="btn btn-primary" type="submit">submit</button>

</EditForm>

@code {
    private Ugyfel Person { get; set; } = new();

    private async Task AddPersonAsync()
    {
        await PersonService.Add(Person);
      //  NavigationManager.NavigateTo("/ugyfelek/list", true);
    }
}