@page "/ugyfelek/delete/{Ugyfelszam:guid}"
@using Autoszerelo.DataClasses
@using Autoszerelo.UI.Services
@inject Autoszerelo.UI.Services.Interfaces.IUgyfelService UgyfelService
<h3>PersonList</h3>

@code {
    [Parameter]
    public Guid Ugyfelszam { get; set; }
    private Ugyfel? Costumer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await UgyfelService.Delete(Ugyfelszam);
    }

}